.claude/
.codex/
.cursor/
.factory/
.gemini/
.DS_Store
node_modules/
.env
.agent/
.opencode/
CLAUDE.md
**/CLAUDE.md
settings.json
.npm-cache/
**/.npm-cache/
test-results/
playwright-report/
**/test-results/
