@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-navy-950 text-gray-100 font-sans antialiased;
  }

  #root {
    @apply min-h-screen;
  }
}

@layer utilities {
  .text-truncate {
    @apply truncate;
  }
}
